/* tag cloud
----------------------------------------------- */
p.azc_fc{
	padding-top: 5px;
	font-style: italic;
	font-size: 1.1em;
	font-weight: 900;
}
div.azc_fc{
	border: none;
	width: 90%;
	margin: auto;
}